{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

<head>
    blog
</head>
{% block content %}
{% block page_Content %}
    {{ render_form(form) }}
    {{ pagedown.include_pagedown() }}
    {% if current_user.is_auththenticated %}
        <button type="button" herf="{{ url_for('main.logout') }}" class="btn">logout</button>
    {% else %}
        <button type="button" herf="{{ url_for('main.login') }}" class="btn">login</button>
    {% endif %}
    
{% endblock %}
{% endblock %}

{% block scripts %}

{% endblock %}